body {
  font-family: 'Open Sans', sans-serif;
  background-color: lightgray;
}

/* font-family: 'Crete Round', serif; */

.header {
  grid-area: hd;
}

.section {
  grid-area: sc;
}

.sidebar {
  grid-area: sb;
}

.footer {
  grid-area: ft;
}

.wrapper {
  display:grid;
  grid-template-columns: auto auto auto 200px;
  grid-auto-rows: minmax(30px, auto);
    grid-template-areas:
    "hd hd hd hd "
    "sc sc sc sb"
    "sc sc sc sb"
    "ft ft ft ft";

    grid-column-gap: 20px;
    grid-row-gap: 15px;
    position: relative;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

  background-color: white;

}

section.section{
  background-color: lightgoldenrodyellow;
}

.logo {
  grid-area: lg;
}

.nav {
  grid-area: nv;
}

.login {
  grid-area: log;
  background-color: lightblue;
}

header.header {
  display:grid;
  grid-template-columns: 239px auto 200px;
  grid-auto-rows: minmax(30px, auto);
    grid-template-areas:
    "lg nv log";

    grid-column-gap: 20px;
    grid-row-gap: 15px;
    position: relative;

    height: 101px;

  background-color: lightgreen;
}

.nav {
  height: 101px;
  background-color: papayawhip;
}

div.sidebar {
  background-color: lavender;
}

footer.footer {

  background-color: peachpuff;
}

div.logo {
  width: 239px;
  height: 101px;
}

img.logo {
  width: 239px;
  height: 101px;
}

.nav-links {
  margin-top: 50px;
  background-color: yellow;
}



header ul{
  list-style: none;
  padding: 0;
  margin:0;
}

header ul li {
  display: inline-block;
  margin-right: 10px;
  width: 150px;
  font-size: 26px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: 1px solid darkgray;

}

header ul li a {
  text-decoration: none;
}

/* .content-area {
  width: 70%;
  min-height: 600px;
  margin-top: 20px;
} */

.is-admin {
  background-color: pink;
}

.article-form {
  border: 1px solid darkgray;
  padding: 5px;
  margin-bottom: 10px;
}

.article-category-select {
  width: 150px;
  height: 100px;
  margin-left: 10px;
}

.article-category-option {
  padding: 3px;
}


.upload-content.banner {
  width: 300px;
  height: 200px;
  background-color: lightgoldenrodyellow;
}

.image-box.banner {
  width: 100px;
  height: 50px;
  background-color: lightblue;
}

.image-upload.banner {
  width: 200px
  height: 50px;
  background-color: lightgreen;
}

.article-image.banner {
  height: 50px;
}

.upload-content.thumb {
  width: 300px;
  height: 200px;
  background-color: lightgoldenrodyellow;
}

.image-box.thumb {
  width: 100px;
  height: 50px;
  background-color: lightblue;
}

.image-upload.thumb {
  width: 200px
  height: 50px;
  background-color: lightgreen;
}

.article-image.thumb {
  height: 50px;
}
